<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
  
  <!-- 
  VO를 선언하여  mybatis/sql/하위의 쿼리들을 실행할때 resultType, parameterType에 
 풀 패키지명을 쓰지 않고 선언한 alias의 이름만 사용하여 VO를 주고 받을 수 있도록 해줌.
   -->
   <configuration>
  <typeAliases>
            <typeAlias alias="User" type="com.dambeetech.first.user.model.vo.User"></typeAlias>
             <typeAlias alias="Board" type="com.dambeetech.first.board.model.vo.Board"></typeAlias>
              <typeAlias alias="CommonPage" type="com.dambeetech.first.common.CommonPage"></typeAlias>
              <typeAlias alias="BoardComment" type="com.dambeetech.first.board.model.vo.BoardComment"></typeAlias>
              <typeAlias alias="BoardReply" type="com.dambeetech.first.board.model.vo.BoardReply"></typeAlias>
      </typeAliases>

  
<!--   <mappers>
      <mapper resource="mappers/user-mapper.xml"/>
      <mapper resource="mappers/board-mapper.xml"/>
  </mappers> -->
</configuration>